.wcTagcustom {
	  background-color: #77a464;
    border-radius: 100%;
    color: #fff;
    font-size: 0.857em;
    font-weight: 700;
    line-height: 3.236;
    margin: 0;
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em;
    position: absolute;
    left: 0;
    text-align: center;
    top: -1em;
}